.body_backgorund {
    background-image: url("f0640294e26b81a055888a433ea2a97a.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: orange; 
      font-size: 40px;
    font-weight: bold;
  }
  #myCanvas
  {
      border-width:10px;
      background-color:paleturquoise ; 
      border-style:ridge;
  }

  button {
    background-color:paleturquoise;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  